@import '../../Variables/variables.scss';

.about__container {
  position: relative;
  .container {
    position: relative;
  }
}

h1.header,
h2.header {
  position: absolute;
  left: 0px;
  top: -160px;
  font-size: 6em;
  color: $woodland;
  letter-spacing: 10px;
  font-weight: 900;
  opacity: 0.6;
}

h2.header {
  left: 14px;
  top: -90px;
  font-size: 4em;
  opacity: 1;
  color: #bd8c45;
}

.about {
  margin: 150px 0;
  padding: 20px;
  position: relative;
  border: 1px solid transparent;
  background-clip: padding-box;

  &__info {
    display: flex;

    &-text {
      width: 70%;

      p {
        padding: 30px 0;
        font-size: 1.2em;
        font-weight: 700;
        color: $woodland;
      }
    }

    &-img {
      width: 30%;

      .dragon {
        width: 800px;
        transform: rotate(10deg);
        margin-left: -150px;
      }
    }
  }
}

.dragon {
  width: 100%;
  transform: rotate(10deg);
}
