@use 'keyframes';
@use 'colors';
@use 'mixins';

.about__members {
  background-image: url(../../images/layered-waves-haikei.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 20px;

  .container {
    h2 {
      line-height: 80%;
    }

    h3 {
      line-height: 0%;
    }
  }
  .slider {
    .member {
      transform: scale(0.6);
      transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
      opacity: 0.6;
      text-align: center;

      .member__name {
        font-family: 'Permanent Marker', cursive;
        font-size: 2em;

        a {
          color: colors.$maroon;
        }
      }

      img {
        width: 250px;

        @include mixins.breakpoint(laptop) {
          width: 300px;
        }
      }

      &.prev {
        order: 1;
      }

      &.current {
        order: 2;
        transform: scale(1.2);
        opacity: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: min-content;

        .member__name {
          animation: opacity 0.5s ease 0.4s alternate 1 backwards running;
          animation: pulsing 1s ease 0s alternate infinite backwards running;
        }

        .member__about {
          min-height: 100px;
          width: 100%;
          animation: opacity 0.5s ease 0.9s alternate 1 backwards running;

          @include mixins.breakpoint(mobileL) {
            width: 150%;
          }

          @include mixins.breakpoint(tablet) {
            width: 250%;
          }

          @include mixins.breakpoint(laptop) {
            width: 280%;
          }
        }
      }

      &.next {
        order: 3;
      }

      &.prev,
      &.next {
        cursor: pointer;
      }
    }

    .member-about {
      max-width: 600px;
    }
  }
}
