@use 'colors';
.about {
  padding: 130px 0;
  background-color: #e7e7e7;

  &__info {
    display: flex;

    &-text {
      width: 70%;

      p {
        padding: 30px 0;
        font-size: 1.2em;
        font-weight: 700;
        color: colors.$maroon;
      }
    }

    &-img {
      width: 30%;

      .dragon {
        transform: rotate(10deg);
      }
    }
  }
}
