// COLORS

$mainColor: #fada5e;
$cherokee: #fbdd9d;
$fuelYellow: #e8b12d;
$woodland: #4f4e28;
$hawaiianTan: #925f17;
$ronchi: #e9bf59;

// Dandelion

$goldenPoppy: #fec303;
$darkGoldenrod: #a57f01;
$maroon: #4b3a00;

// Dandelion tones

$dandelion: #fed85d;
$goldenSand: #ebca62;
$tacha: #d7bd68;
$darkKhaki: #c4af6d;
$sandrift: #b0a273;
$gurkha: #9d9478;
$friarGrey: #8a877d;

// Vulkan

$vulcan: #36383c;
$vulcanTone: #27292c;

// MIXINS

// @mixin button($dupa, $dua) {
//   styles
// }

// @include button(duza, dupa);
