// COLORS

$mainColor: #fada5e;
$cherokee: #fbdd9d;
$fuelYellow: #e8b12d;
$woodland: #4f4e28;
$hawaiianTan: #925f17;
$ronchi: #e9bf59;

// MIXINS

// @mixin button($dupa, $dua) {
//   styles
// }

// @include button(duza, dupa);
