.contact {
  background-image: url('../../images/circle-bg.png');
  background-repeat: no-repeat;
  background-size: cover;

  .container {
    min-height: calc(100vh - 70px);
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      font-family: 'Permanent Marker', cursive;
      font-size: 2em;
    }

    .vertical-or {
      height: calc(90vh - 70px);
    }

    .contact__contact-form {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 40px;

      .contact-form {
        margin: 0;
        width: 70%;

        input[type='text'],
        input[type='email'],
        textarea {
          background-color: white;
        }
      }
    }

    .contact__chat {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 40px;

      p {
        width: 70%;
        text-align: center;
        font-size: 1.3em;
      }
    }
  }
}
