@use 'mixins';

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  label {
    color: whitesmoke;
  }

  > div {
    display: flex;
    gap: 10px;
  }

  textarea {
    font-size: 1.5em;
  }
}
