@use 'mixins';

.contact {
  background-image: url('../../images/circle-bg.webp');
  background-repeat: no-repeat;
  background-size: cover;

  .container {
    min-height: calc(100vh - 70px);
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include mixins.breakpoint(tablet) {
      flex-direction: row;
    }

    h1,
    h2 {
      font-family: 'Permanent Marker', cursive;
      font-size: 1.7em;
      text-align: center;

      @include mixins.breakpoint(tablet) {
        width: 70%;
        font-size: 2em;
      }
    }

    .horizontal-or {
      width: 100%;

      @include mixins.breakpoint(tablet) {
        display: none;
      }
    }

    .vertical-or {
      display: none;
      height: calc(90vh - 70px);

      @include mixins.breakpoint(tablet) {
        display: block;
      }
    }

    .contact__contact-form {
      margin: 50px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 40px;

      label {
        color: black;
      }

      @include mixins.breakpoint(tablet) {
        margin: 0;
        width: 50%;
      }

      .contact-form {
        margin: 0;

        @include mixins.breakpoint(tablet) {
          width: 70%;
        }

        input[type='text'],
        input[type='email'],
        textarea {
          background-color: white;
        }
      }
    }

    .contact__chat {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 40px;

      p {
        text-align: center;
        font-size: 1.3em;

        @include mixins.breakpoint(mobileL) {
          width: 80%;
        }
      }

      @include mixins.breakpoint(tablet) {
        margin: 0;
        width: 50%;

        p {
          width: 70%;
        }
      }
    }
  }
}
