@use 'mixins';

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  > div {
    display: flex;
    gap: 30px;

    &:first-of-type {
      input {
        width: 50%;
      }
    }
  }

  textarea {
    font-size: 1.5em;
  }
}
