@use 'colors';
@use 'keyframes';
@use 'mixins';

.landingPage {
  height: 100vh;
  width: 100vw;
  background: rgba(20, 20, 20, 0.4);
  background: linear-gradient(90deg, rgba(20, 20, 20, 0.4) 0%, rgba(20, 20, 20, 0.4) 100%),
    url('../../images/landingPageBG.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-attachment: fixed;
  object-fit: cover;

  h1 {
    color: white;
    font-size: 2.5em;
    letter-spacing: 5px;
    font-weight: 800;
    line-height: 0.9;
    margin: 0 0 2rem 0;
    text-shadow: 4px 4px colors.$woodland;

    animation: opacity 1s ease 0s alternate 1 backwards running;

    @include mixins.breakpoint(tablet) {
      font-size: 4em;
    }

    @include mixins.horizontalBreakpoint(0px, 425px) {
      margin-top: 6rem;
    }
  }

  p {
    color: colors.$mainColor;
    font-size: 1.5em;
    font-weight: 800;
    letter-spacing: 5px;
    margin: 0;
    text-shadow: 3px 2px colors.$woodland;

    animation: opacity 0.9s ease 0.5s alternate 1 backwards running;

    @include mixins.breakpoint(tablet) {
      font-size: 2em;
    }
  }

  &__scroll-down {
    position: absolute;
    height: 70px;
    width: 26px;
    border: 2px solid colors.$mainColor;
    border-radius: 20px;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(245, 245, 245, 0.5);

    @include mixins.horizontalBreakpoint(0px, 425px) {
      display: none;
    }

    > div {
      position: relative;
      width: 20px;
      height: 20px;
      border: 1px solid whitesmoke;
      border-radius: 20px;
      background-color: colors.$mainColor;
      left: 50%;
      transform: translateX(-50%);
      top: 2px;

      animation: scroll-down-icon 2s ease 0s alternate infinite backwards running;
    }

    > span {
      content: '';
      position: absolute;
      border-left: 2px solid rgb(51, 51, 51);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 20px;

      &::before {
        content: '';
        position: absolute;
        border-left: 2px solid rgb(51, 51, 51);
        height: 10px;
        left: 2px;
        top: 10px;
        transform: rotate(45deg);
      }

      &::after {
        content: '';
        position: absolute;
        border-left: 2px solid rgb(51, 51, 51);
        height: 10px;
        left: -6px;
        top: 10px;
        transform: rotate(-45deg);
      }
    }
  }
}
