@use 'colors';

.auth {
  min-height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;

  .select-registration-method {
    display: flex;

    .methods {
      width: 50%;

      .select__method {
        width: 350px;
        margin: 0 auto;

        &-h1 {
          margin-bottom: 1rem;

          span {
            color: colors.$dandelion;
            font-size: 1.3em;
            font-family: 'Permanent Marker', cursive;
          }
        }

        p {
          font-size: 0.9em;
          margin-bottom: 1.5rem;

          a {
            color: colors.$tacha;
            font-weight: 600;
            text-decoration: underline;

            &:hover {
              text-decoration: none;
            }
          }
        }

        &-buttons {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          margin-bottom: 1.5rem;

          a {
            line-height: 110%;
            text-align: center;
          }
        }
      }
    }
  }
}

.register,
.login {
  min-height: calc(100vh - 70px);
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

  .auth__form {
    width: 50%;

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 1.5rem;

      p {
        margin-bottom: 0;

        &.par-error {
          color: tomato;
          font-weight: 600;
        }
      }
    }

    &-register,
    &-login {
      width: 350px;
      margin: 0 auto;

      &__socials {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        font-size: 2.2em;

        svg {
          cursor: pointer;
          padding: 5px;
          border-radius: 10px;
          box-shadow: 0px 0px 7px -3px colors.$vulcan;
          transition: box-shadow 0.2s;

          &:first-of-type {
            color: #097eeb;
          }

          &:hover {
            box-shadow: 0px 0px 0px 0px colors.$vulcan, inset 0px 0px 7px -3px colors.$vulcan;
          }
        }
      }

      h1 {
        margin-bottom: 1rem;
      }

      p {
        font-size: 0.9em;
        margin-bottom: 1.5rem;

        a {
          color: colors.$tacha;
          font-weight: 600;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
