@use 'colors';
@use 'mixins';
@use 'keyframes';

.nav {
  background-color: transparent;
  height: 70px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  &.active,
  &.sticky {
    background-image: linear-gradient(299deg, colors.$vulcanTone, colors.$vulcan);
    color: colors.$dandelion;
    position: fixed;
    width: 100%;
    top: 0;
    height: 70px;
    box-shadow: inset 0px -2px 0px #767676;

    img {
      width: 90px;
    }

    a {
      color: colors.$dandelion;

      &:hover {
        color: #c0c0c0;
      }
    }
  }

  .container {
    display: flex;
    align-items: center;
  }

  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: calc(100% - 70px);
    padding-left: 70px;

    &__item {
      padding: 5px 15px;
      display: none;

      @include mixins.breakpoint(tablet) {
        display: block;
      }

      @for $i from 1 through 2 {
        &:nth-of-type(#{$i}) {
          margin-right: 0;

          @include mixins.breakpoint(laptop) {
            margin: 10px;
          }

          @include mixins.breakpoint(desktop) {
            margin: 30px;
          }
        }
      }

      @for $i from 4 through 5 {
        &:nth-of-type(#{$i}) {
          margin-left: 0;

          @include mixins.breakpoint(laptop) {
            margin: 10px;
          }

          @include mixins.breakpoint(desktop) {
            margin: 30px;
          }
        }
      }

      a {
        color: whitesmoke;
        font-size: 1.4em;
        transition: color 0.3s;
        text-transform: capitalize;

        &:hover {
          color: colors.$mainColor;
        }
      }
    }
  }

  &__logo {
    padding: 0;
    font-size: 3em;
    text-align: center;
    display: block;

    @include mixins.breakpoint(laptop) {
      width: 200px;
    }

    img {
      width: 120px;
      margin-top: 71px;
    }
  }

  .user {
    font-family: 'Permanent Marker', cursive;
    display: none;
    position: relative;

    @include mixins.breakpoint(tablet) {
      display: block;
    }

    a {
      color: white;
      font-size: 1.2em;

      &:hover {
        color: colors.$mainColor;
      }
    }

    &__avatar {
      position: relative;
      width: max-content;
      cursor: pointer;

      img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid white;
      }

      &--arrow {
        position: absolute;
        font-size: 1.3em;
        border-radius: 50%;
        background-color: white;
        bottom: 3px;
        right: -1px;
        color: colors.$vulcan;
      }
    }

    .user-dropdown {
      width: 140px;
      clip-path: inset(0 0 100% 0);
      position: absolute;
      transition: clip-path 0.2s;
      background-color: colors.$vulcan;
      padding: 1rem;
      right: 0;
      border-radius: 10px;
      border-top-right-radius: 0;
      text-align: center;
      border: 1px solid #595858;

      hr {
        margin: 10px 0 17px;
      }

      // &::before {
      //   content: '';
      //   position: absolute;
      //   width: 0;
      //   height: 0;
      //   display: inline-block;
      //   border-style: solid;
      //   border-width: 0px 10px 12px 10px;
      //   border-color: transparent transparent #27292c transparent;
      //   z-index: 100;
      //   top: 3%;
      //   left: 85%;
      // }
    }

    &.open {
      .user-dropdown {
        clip-path: inset(0 0 0 0);
      }
    }
  }

  .rwd-button {
    display: flex;
    align-items: center;
    font-size: 3em;
    height: max-content;
    cursor: pointer;
    color: white;

    @include mixins.breakpoint(tablet) {
      display: none;
    }
  }

  .rwd-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    transition: transform 1s;
    font-family: 'Permanent Marker', cursive;

    a {
      color: white;
      transition: color 0.3s;

      &:hover {
        color: colors.$dandelion;
      }
    }

    .animation {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: repeat(8, 1fr);

      div {
        transform: translateX(-100%);

        &:nth-of-type(2n) {
          background-color: colors.$vulcan;
        }

        &:nth-of-type(2n -1) {
          background-color: colors.$vulcanTone;
        }
      }
    }

    .logo,
    .menu,
    .rwd-auth {
      position: absolute;
      z-index: 10;
      transform: translateX(-100%);
      width: 100%;
    }

    @include mixins.horizontalBreakpoint(0px, 577px) {
      .menu,
      .rwd-auth {
        width: 50%;
      }

      .menu {
        left: 0;
      }

      .rwd-auth {
        right: 0;
        transform: translateX(-200%);
      }
    }

    .logo {
      .img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        width: calc(100% - 70px);
        padding-left: 50px;

        img {
          width: 120px;
          margin-top: 71px;
        }
      }

      .close {
        font-size: 3.7em;
        cursor: pointer;
        color: white;
      }
    }

    .menu {
      top: 150px;
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 2em;

      @include mixins.horizontalBreakpoint(0px, 577px) {
        top: unset;
        bottom: 50px;
      }
    }

    .rwd-auth {
      bottom: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 2em;

      button {
        font-size: 0.5em;
      }

      hr {
        width: 70%;
        height: 5px;
      }

      img {
        width: 70px;
        aspect-ratio: 1/1;
        border-radius: 50%;
      }
    }

    &.open {
      &.rwd-menu {
        transform: translateX(0%);

        .animation {
          div {
            animation-name: fadein;
            animation-duration: 0.4s;
            animation-fill-mode: forwards;

            &:nth-of-type(2) {
              animation-delay: 0.2s;
            }
            &:nth-of-type(3) {
              animation-delay: 0.4s;
            }
            &:nth-of-type(4) {
              animation-delay: 0.6s;
            }
            &:nth-of-type(5) {
              animation-delay: 0.8s;
            }
            &:nth-of-type(6) {
              animation-delay: 1s;
            }
            &:nth-of-type(7) {
              animation-delay: 1.2s;
            }
            &:nth-of-type(8) {
              animation-delay: 1.4s;
            }
          }
        }

        .logo,
        .menu,
        .rwd-auth {
          animation-name: fadein;
          animation-duration: 0.6s;
          animation-fill-mode: forwards;
        }

        .logo {
          animation-delay: 1.6s;
        }

        .menu {
          animation-delay: 1.8s;
        }

        .rwd-auth {
          animation-delay: 2s;
        }
      }
    }
  }
}
