@use 'colors';
@use 'mixins';

.recommendations {
  padding-top: 150px;

  .slider {
    margin-top: 80px;
    min-height: max-content;
    width: 100%;

    &__item {
      transform: scale(0.9);
      transition: transform 0.5s;

      &__header {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin-bottom: 10px;

        @include mixins.breakpoint(tablet) {
          flex-direction: row;
        }

        &--from {
          font-weight: 500;
          font-size: 1.2em;

          @include mixins.breakpoint(tablet) {
            font-size: 1.3em;
          }

          span {
            font-size: 0.9em;
          }
        }

        .stars {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 1.5em;
          color: colors.$goldenPoppy;
          margin-bottom: 1rem;

          @include mixins.breakpoint(tablet) {
            margin-bottom: 0;
          }
        }
      }

      &.active {
        width: 60%;
        background-color: #e7e7e7;
        padding: 20px;
        border-radius: 20px;
        transform: scale(1);
      }
    }
  }
}

// Recommendation form

.recommendation {
  padding-top: 150px;
  align-items: center;

  &-content {
    display: flex;
    margin-top: 70px;
  }

  &__form {
    width: 50%;

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 275px;
      margin: 0 auto;

      textarea {
        height: 220px;
        font-size: 1.4em;
      }
    }
  }

  &__image {
    width: 50%;
  }
}
