.shopCart {
  margin-top: 150px;
  &__list {
    margin-top: 50px;
  }
  .legend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
    font-weight: 600;
    padding: 0 5px 0 50px;
  }
  .item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .left-side {
    display: flex;
    gap: 20px;
  }
  .remove {
    width: 25px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .pointer {
      font-size: 3em;
    }
  }
  .image {
    width: 250px;
    height: 150px;
    object-fit: cover;
  }
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .title {
    font-size: 1.3em;
    font-weight: 600;
  }
  .cost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
  }
  .sale-price {
    font-size: 1.1em;
    text-decoration: line-through;
  }
  .sale-sale {
    font-size: 1.3em;
  }
  .price {
    font-size: 1.3em;
  }
  .placeholder {
    font-size: 1.1em;
    padding-left: 50px;
  }
  &__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 100px 0;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .total {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: right;
  }
  .total-price {
    font-size: 1.2em;
    font-weight: 500;
  }
  .order-btn {
    width: 250px;
  }
}
