@use 'colors';
@use 'mixins';

.shop__info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background: linear-gradient(to bottom, #36383cb9, #36383cb9), url('../../images/shopbg.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  margin: 100px 0;
  padding: 0 1rem;

  @include mixins.breakpoint(tablet) {
    flex-direction: row;
  }

  &--p {
    font-family: 'Permanent Marker', cursive;
    color: colors.$dandelion;
    font-size: 1.5em;
    text-align: center;

    @include mixins.breakpoint(tablet) {
      width: 70%;
      font-size: 2em;
    }
  }

  &--a {
    text-align: center;

    @include mixins.breakpoint(tablet) {
      width: 30%;
    }
  }
}
