@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulsing {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.01);
  }
  40% {
    transform: scale(1);
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes scroll-down-icon {
  from {
    top: 2px;
  }
  to {
    top: 46px;
  }
}
.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50rem;
}
.slider .arrow {
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4em;
  user-select: none;
  z-index: 10;
  color: #fed85d;
  transition: font-size 0.3s;
}
.slider .arrow.arrowPrev {
  left: 10%;
}
.slider .arrow.arrowNext {
  right: 10%;
}
.slider .arrow:hover {
  font-size: 5em;
}

.nav {
  background-color: transparent;
  height: 70px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.nav.active, .nav.sticky {
  background-image: linear-gradient(299deg, #27292c, #36383c);
  color: #fed85d;
  position: fixed;
  width: 100%;
  top: 0;
  height: 70px;
  box-shadow: inset 0px -2px 0px #767676;
}
.nav.active img, .nav.sticky img {
  width: 90px;
}
.nav.active a, .nav.sticky a {
  color: #fed85d;
}
.nav.active a:hover, .nav.sticky a:hover {
  color: #c0c0c0;
}
.nav .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}
.nav__item {
  padding: 5px 15px;
}
.nav__item:nth-of-type(1) {
  margin-right: 30px;
}
.nav__item:nth-of-type(2) {
  margin-right: 30px;
}
.nav__item:nth-of-type(4) {
  margin-left: 30px;
}
.nav__item:nth-of-type(5) {
  margin-left: 30px;
}
.nav__item a {
  color: whitesmoke;
  font-size: 1.4em;
  transition: color 0.3s;
}
.nav__item a:hover {
  color: #fada5e;
}
.nav__logo {
  padding: 0;
  font-size: 3em;
  width: 200px;
  text-align: center;
}
.nav__logo img {
  width: 120px;
  margin-top: 71px;
}

.landingPage {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(90deg, rgba(20, 20, 20, 0.4) 0%, rgba(20, 20, 20, 0.4) 100%), url("../../images/landingPageBG.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-attachment: fixed;
  object-fit: cover;
}
.landingPage h1 {
  color: white;
  font-size: 4em;
  letter-spacing: 5px;
  font-weight: 800;
  line-height: 0.9;
  margin: 0 0 2rem 0;
  text-shadow: 4px 4px #4f4e28;
  animation: opacity 1s ease 0s alternate 1 backwards running;
}
.landingPage p {
  color: #fada5e;
  font-size: 2em;
  font-weight: 800;
  letter-spacing: 5px;
  margin: 0;
  text-shadow: 3px 2px #4f4e28;
  animation: opacity 0.9s ease 0.5s alternate 1 backwards running;
}
.landingPage__scroll-down {
  position: absolute;
  height: 70px;
  width: 26px;
  border: 2px solid #fada5e;
  border-radius: 20px;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(245, 245, 245, 0.5);
}
.landingPage__scroll-down > div {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid whitesmoke;
  border-radius: 20px;
  background-color: #fada5e;
  left: 50%;
  transform: translateX(-50%);
  top: 2px;
  animation: scroll-down-icon 2s ease 0s alternate infinite backwards running;
}
.landingPage__scroll-down > span {
  content: "";
  position: absolute;
  border-left: 2px solid #333333;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20px;
}
.landingPage__scroll-down > span::before {
  content: "";
  position: absolute;
  border-left: 2px solid #333333;
  height: 10px;
  left: 2px;
  top: 10px;
  transform: rotate(45deg);
}
.landingPage__scroll-down > span::after {
  content: "";
  position: absolute;
  border-left: 2px solid #333333;
  height: 10px;
  left: -6px;
  top: 10px;
  transform: rotate(-45deg);
}

.about {
  padding: 130px 0;
  background-color: #e7e7e7;
}
.about__info {
  display: flex;
}
.about__info-text {
  width: 70%;
}
.about__info-text p {
  padding: 30px 0;
  font-size: 1.2em;
  font-weight: 700;
  color: #4b3a00;
}
.about__info-img {
  width: 30%;
}
.about__info-img .dragon {
  transform: rotate(10deg);
}

.about__members {
  background-image: url(../../images/layered-waves-haikei.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 20px;
}
.about__members .container h2 {
  line-height: 80%;
}
.about__members .container h3 {
  line-height: 0%;
}
.about__members .slider .member {
  transform: scale(0.6);
  transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  opacity: 0.6;
  text-align: center;
}
.about__members .slider .member .member__name {
  font-family: "Permanent Marker", cursive;
  font-size: 2em;
  color: #4b3a00;
}
.about__members .slider .member img {
  width: 300px;
}
.about__members .slider .member.prev {
  order: 1;
}
.about__members .slider .member.current {
  order: 2;
  transform: scale(1.2);
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min-content;
  position: relative;
}
.about__members .slider .member.current .member__name {
  animation: opacity 0.5s ease 0.4s alternate 1 backwards running;
}
.about__members .slider .member.current .member__about {
  min-height: 100px;
  width: 300%;
  position: absolute;
  bottom: -100px;
  animation: opacity 0.5s ease 0.9s alternate 1 backwards running;
}
.about__members .slider .member.next {
  order: 3;
}
.about__members .slider .member.prev, .about__members .slider .member.next {
  cursor: pointer;
}
.about__members .slider .member-about {
  max-width: 600px;
}

.single__member {
  padding-top: 150px;
}
.single__member__info {
  display: flex;
}
.single__member__info-img {
  width: 50%;
  display: flex;
  justify-content: center;
}
.single__member__info-text {
  width: 50%;
  padding: 70px 100px 0 0;
}
.single__member__info-text h3 {
  margin-bottom: 50px;
}
.single__member__info-text p:nth-of-type(1) {
  margin-bottom: 2rem;
}
.single__member__info-text p:nth-of-type(2) {
  display: flex;
  align-items: center;
  font-family: "Permanent Marker", cursive;
  font-size: 1.5em;
}
.single__member__info-text p:nth-of-type(2) span {
  padding-left: 10px;
}
.single__member__projects {
  margin-top: 4rem;
}
.single__member__projects-images {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 30px;
}
.single__member__projects-images img {
  width: 100%;
  transition: transform 0.5s;
  border-radius: 10px;
}
.single__member__projects-images img:hover {
  transform: scale(1.05);
}

.gallery {
  padding-top: 150px;
}
.gallery__content-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 30px;
  padding-top: 50px;
}
.gallery__content-images__about {
  background-color: #fed85d;
  border-radius: 10px;
  transition: transform 0.5s;
}
.gallery__content-images__about img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}
.gallery__content-images__about:hover {
  transform: scale(1.05);
}
.gallery__content-images__about-desc {
  padding: 10px;
  font-weight: 600;
  font-size: 1.3em;
  font-family: "Permanent Marker", cursive;
}
.gallery__content-images__about-desc a {
  color: #36383c;
}

.gallery-latest {
  background-image: url(../../images/layered-waves-haikei.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10rem;
}
.gallery-latest .slider {
  margin-top: 60px;
  width: 100%;
  background-color: #36383c;
  display: flex;
  flex-direction: column;
}
.gallery-latest .slider .film-frame {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60px;
}
.gallery-latest .slider .film-frame div {
  width: 70px;
  height: 40px;
  border-radius: 5px;
  background-color: #c0c0c0;
}
.gallery-latest .slider img {
  height: 700px;
  width: 100%;
  object-fit: cover;
}
.gallery-latest .slider .slide {
  opacity: 0.6;
  transform: scale(1.05);
  transition: transform 0.4s;
  position: relative;
}
.gallery-latest .slider .slide p {
  width: 100%;
  font-family: "Permanent Marker", cursive;
  font-size: 3em;
  text-align: center;
  position: absolute;
  color: white;
  animation: pulsing 1s ease 0s alternate infinite backwards running;
}
.gallery-latest .slider .slide p a {
  color: white;
  transition: color 0.3s;
}
.gallery-latest .slider .slide p a:hover {
  color: #fada5e;
}
.gallery-latest .slider .slide p:first-of-type {
  top: 15px;
}
.gallery-latest .slider .slide p:last-of-type {
  bottom: 15px;
}
.gallery-latest .slider .slide p:last-of-type::before {
  content: "By: ";
}
.gallery-latest .slider .active {
  opacity: 1;
  transform: scale(1);
  width: 100%;
}
.gallery-latest .show-more {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-latest .show-more a {
  padding: 10px 20px;
  font-size: 1.3em;
  font-weight: 600;
  color: #fed85d;
  border: 3px solid #fed85d;
  border-radius: 1rem;
  margin: 10px auto;
  transition: background-color 0.5s, color 0.5s;
}
.gallery-latest .show-more a:hover {
  background-color: #fed85d;
  color: white;
}

.gallery__single {
  padding-top: 150px;
}
.gallery__single .headerwTextStroke {
  line-height: 100%;
}
.gallery__single__content {
  display: flex;
  margin-top: 50px;
}
.gallery__single__content-img {
  width: 60%;
}
.gallery__single__content-img img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.gallery__single__content-text {
  width: 40%;
  padding: 40px 20px 40px 30px;
}
.gallery__single__content-text p span,
.gallery__single__content-text p a {
  display: block;
  color: #d7bd68;
  width: max-content;
  font-family: "Permanent Marker", cursive;
}
.gallery__single__content-text p a {
  transition: transform 0.5s, color 0.5s;
}
.gallery__single__content-text p a:hover {
  transform: scale(1.05);
  color: #fada5e;
}
.gallery__single__content-text p:first-of-type {
  font-size: 2em;
  margin-bottom: 2rem;
}
.gallery__single__content-text p:nth-of-type(2) {
  font-size: 1.6em;
  margin-bottom: 4rem;
}
.gallery__single__content-text p:last-of-type {
  font-size: 1.3em;
  animation: pulsing 1s ease 0s alternate infinite backwards running;
  cursor: pointer;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid black;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

.footer {
  background-image: url("../../images/lavarcfooter.png"), linear-gradient(270deg, #27292c, #36383c);
  background-repeat: no-repeat;
  background-position: 85% -500%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 100px;
  margin-top: 100px;
  box-shadow: inset 0px 3px 0px #767676;
}
.footer > p {
  color: white;
}
.footer__links {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
}
.footer__links h3 {
  color: #d7bd68;
  margin-bottom: 15px;
  font-size: 1.4em;
}
.footer__links a {
  color: white;
  width: max-content;
  text-decoration: underline;
  transition: color 0.3s;
}
.footer__links a:hover {
  color: #d7bd68;
  text-decoration: none;
}
.footer__links .menu {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.footer__links .socials__icon {
  font-size: 2em;
  color: white;
  cursor: pointer;
  transition: color 0.3s;
  margin-right: 10px;
}
.footer__links .socials__icon.ig:hover {
  color: #e9be03;
}
.footer__links .socials__icon.yt:hover {
  color: #e72929;
}
.footer__links .socials__icon.dc:hover {
  color: #8b9dfe;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  text-decoration: none;
}

.btn {
  border: none;
  background-color: none;
  padding: 5px 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  width: 98%;
  margin: 0 auto;
  padding: 0;
}

.headerTextStroke {
  -webkit-text-stroke: 5px #8a877d;
  color: transparent;
  line-height: 30%;
  font-size: 6em;
  letter-spacing: 10px;
  font-weight: 900;
}

.headerwTextStroke {
  font-size: 4em;
  color: #d7bd68;
  line-height: 65%;
  padding-left: 15px;
  letter-spacing: 5px;
  font-weight: 900;
}

@media (min-width: 768px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 980px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1200px;
  }
}
@media (min-width: 1660px) {
  .container {
    width: 1420px;
  }
}

/*# sourceMappingURL=style.css.map */
